In [1]:
print "Hello World..!!!!"

Hello World..!!!!

In [3]:
n = int(raw_input())
if n % 3 == 0 and n % 5 == 0:
  print 'FizzBuzz'
elif n % 3 == 0:
  print 'Fizz'
elif n % 5 == 0:
  print 'Buzz'

8

In [5]:
x = 52
print type(x)
x = str(x)
print type(x)

<type 'int'>
<type 'str'>

In [6]:
age = 44
print 'Age of Mr. Robben is %i years' % (age)

Age of Mr. Robben is 44 years

In [7]:
x = int(raw_input())
if x > 0:
    print 'Positive'
elif x < 0:
    print 'Negative'
else:
    print 'Aryabhatta'

2
Positive

In [3]:
# Class 2 Work  Starts From Here ....>>>>>>
#Introducing List and Dictionaries

In [4]:
number = [1,2,3,4,5,6,7,8,9]

In [5]:
print number[0]

1

In [6]:
for i in range(0,10,2):
    print i

0
2
4
6
8

In [7]:
for i in number:
    print number

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
x = [1,2,3,456,True]
print x

[1, 2, 3, 456, True]

In [11]:
x[3] = "Mukesh Dubey"  #Overwriting the list element ..

In [10]:
print x

[1, 2, 3, 'Mukesh Dubey', True]

In [12]:
x.append("Nitika Sharma")

In [13]:
print x

[1, 2, 3, 'Mukesh Dubey', True, 'Nitika Sharma']

In [14]:
x.append("Pagal Hai")

In [15]:
print x

[1, 2, 3, 'Mukesh Dubey', True, 'Nitika Sharma', 'Pagal Hai']

In [16]:
x.insert(7,"HeHeHeHeHehehehehehehe...")

In [17]:
print x

[1, 2, 3, 'Mukesh Dubey', True, 'Nitika Sharma', 'Pagal Hai', 'HeHeHeHeHehehehehehehe...']

In [24]:
for i in range(0,3):
  print i

0
1
2

In [25]:
for i in range(0,3):
  print x[i]

1
2
3

In [26]:
print x[0:3:2]

[1, 3]

In [27]:
print number[0:3:2]

[1, 3]

In [29]:
print x[0:4]

[1, 2, 3, 'Mukesh Dubey']

In [31]:
print x[:]  # Displaying Whole list as it is .....

[1, 2, 3, 'Mukesh Dubey', True, 'Nitika Sharma', 'Pagal Hai', 'HeHeHeHeHehehehehehehe...']

In [33]:
print x[::2]

[1, 3, True, 'Pagal Hai']

In [35]:
print x[::-2] #Reverse Accesss////

['HeHeHeHeHehehehehehehe...', 'Nitika Sharma', 'Mukesh Dubey', 2]

In [36]:
print x[:-2]

[1, 2, 3, 'Mukesh Dubey', True, 'Nitika Sharma']

In [37]:
print x[::-1]

['HeHeHeHeHehehehehehehe...', 'Pagal Hai', 'Nitika Sharma', True, 'Mukesh Dubey', 3, 2, 1]

In [47]:
print x[::-2]

['HeHeHeHeHehehehehehehe...', 'Nitika Sharma', 'Mukesh Dubey', 2]

In [49]:
print number[3:5:2]
print number[:4:-1]
print number[:-2:-1]
print number[-6:-2]

[4]
[]
[4]
[1, 2]

In [50]:
#Introducing Dictionary ......

In [57]:
released = {
		"iphone" : 2007,
		"iphone 3G" : 2008,
		"iphone 3GS" : 2009,
		"iphone 4" : 2010,
		"iphone 4S" : 2011,
		"iphone 5" : 2012
	}
print released

{'iphone 3G': 2008, 'iphone 4S': 2011, 'iphone 3GS': 2009, 'iphone': 2007, 'iphone 5': 2012, 'iphone 4': 2010}

In [58]:
phones = released.keys()
print phones

['iphone 3G', 'iphone 4S', 'iphone 3GS', 'iphone', 'iphone 5', 'iphone 4']

In [59]:
phones = released.values()
print phones

[2008, 2011, 2009, 2007, 2012, 2010]

In [64]:
def is_prime(x):
  for i in range(2, int(x**(0.5)) + 1):
    if x%i == 0:
      return False
  return True

In [61]:
16

16

In [66]:
is_prime(16)

False

In [67]:
is_prime(36)

False

In [68]:
is_prime(63)

False

In [69]:
is_prime(11)

True